/* How to use this file

Any values in application.css will override those from the default.css file. This file allows you to customize the look of your Splunk App. It does not let you change the overall layout. For the most part, use this to change background colors, buttons, navigation, menus, etc. You can change the color of the histogram bars, but the palette for other chart colors is not exposed to CSS yet.

A note on images:
Alpha channel PNG files are used for a variety of transparency effects (gradient, glass, shadows, etc.) These images will not work on IE6, so you should either provide an alternate image or override the image by using the "underscore" hack, i.e. _background-image:none. To ensure that IE6 does not render alpha channel PNG files, make sure that the override comes after the declaration that contains your PNG. Any image that starts with "overlay" is an alpha channel graphic. As well, the logo images that are PNG format are also alpha channel so you can use on whatever background you like. GIF formats are available and are set as transparent against black and white only.

A note on background positioning:
We use image sprites (splIcons.gif and arrows.png) for most of the icons and arrows that appear in the UI. Background-position is used to set different colors. By default, this sprite has black, white, grey, green, and blue versions of arrows. If you want to change these colors, edit the local version of this file (inside this directory). Otherwise, you can choose a different color by adjusting the the background position on the selected element. See the arrows section for details.

If there are elements you wish to style that are not included in this file, we strongly recommend that you use a tool like Firebg, which will help you isolate elements and see which style sheets are taking precedence. Trust us, wecould not have created these without Firebug!
*/


/* Basic Typography
---------------------------------*/
body, td {
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    color: #fff;
}

input, textarea, select {
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    color: #333;
}

/* monospaced font */
.splFont-mono {
    font-family: Consolas,Monaco,Courier New,monospace;
}

/* font colors not covered by above */
h2,h4 {
color:#000;
}
. .default .event {
color:#333333;
}

.EventsViewer .default .fields .v {
color:#999999;
}

.fieldValuePopup table td, .fieldValuePopup table th {
color: #ccc;
}


/* App header elements
---------------------------------*/

/* Application logo

height and width should be the same as your image. make sure to include some top and buttom margin in the padding.

Black logo, green >
    background-image: url(appLogo_black.png);
Black logo, black >
    background-image: url(appLogo_allblack.png);
White logo, green >
    background-image: url(appLogo_white.png);
White logo, white >
    background-image: url(appLogo_allwhite.png);
    
For IE6, use the following images. Note that if you make a background color other than black or white (or close to it) you will need to redo the transparent GIF matte.
White logo, green > for IE6, transparent against black
    background-image: url(appLogo_white.gif);
Black logo, green > for IE6, transparent against white
    background-image: url(appLogo_black.gif);
*/

.appLogo {
    height: 43px; 
    width: 486px; 
    background-image: url(appLogo.png);
    _background-image: url(appLogo.gif); /* for IE6 */
    background-repeat: no-repeat;
}

/* the name of your app. line height can be adjusted to fix alignment issues w/ the logo. color is the color of the text. if your logo has the name in it, then you can set this to "display:none;  */

.appHeaderWrapper h1 {
    color: #c8da4a;
    line-height: 43px;
    display:none;
}


/* background-color and/or image of your app */
.appHeaderWrapper {
background: none none;

   /* background-color: #002563;*/
 background-image: none;
    background-repeat: repeat-x;
    background-position: top left;
    border-bottom-style: solid;
    border-bottom-width: 0px;
}

.appHeader { background: #FFF; } 

.navigationHeader { background: #004f82; }



/* color of top-right text */
.appHeaderWrapper {
    color: #BBB;
}
/* color of top-right links */
.appHeaderWrapper a {
    color:#000;
}

/* app menu arrows; see arrows section, below, for more info */

.appHeaderWrapper .splIcon-triangle-3-s {
    background-position: -27px -367px;
}


/* loader background */
#loading {
    background-color: #6694c7;
}


/* link colors 
---------------------------------*/
a, .EventsViewer .default .showinline {
    color: #004f82;
}

a.disabled {
    color: ;
}

/* neutral link colors */
div.FlashTimeline a, 
div.FlashTimeline a:visited,
.JobStatus a,
.LinkSwitcher ul li.selected a {
    color: #004f82;
}


/* nav bar and aux links
---------------------------------*/

/*
set an overlay effect for your navbar or leave blank for default
background-image: url(overlay_glass_28.png);
background-image: url(overlay_gloss_28.png);
background-image: url(overlay_gradient_28.png);
background-image: url(overlay_reversegradient_28.png);
background-image: url(overlay_reversegradient_light_28.png);
background-image: url(overlay_reversegradientridge_28.png);
background-image: url(overlay_softgradient_28.png);
background-image: url(overlay_white_28.png);
background-image: url(overlay_whiteridge_28.png);
*/

.splHeader-navigation {
    background-image: url(overlay_gloss_28.png);
    background-repeat: repeat-x;
    _background-image: none;
}

/*--- some space to the right of the nav items ---*/
ul.appBarNav li {
    margin-right: 5px;
}

/*--- the default state ---*/
ul.appBarNav li a, ul.appBarNav li a:active, ul.appBarNav li a:visited  {
    color: #fff;
}

/*--- the hover state ---*/
ul.appBarNav li.hasMenu a:hover, ul.appBarNav li a:hover {
    color: #fff;
    background-color: #6694c7;
    background-image: none;
    background-repeat: repeat-x;
    _background-image: none;   /* for IE6 */
}

/*--- the open state ---*/
ul.appBarNav li a.menuOpen {
    color: #fff;
    background-color: #6694c7;
    background-image: none;
    background-repeat: repeat-x;
    _background-image: none;   /* for IE6 */
}

/*--- link color ---*/
ul.appBarNav li.hasMenu a:hover, ul.appBarNav li a.menuOpen {
    color: #fff;
    }

/* to change arrows, see Menu section, below */


/* Menus
---------------------------------*/

/* primary menu */
.splMenu-primary ul {
    background-color: #dbe6e9;
}
.splMenu-primary, .splMenu-primary a, .splMenu-primary a:visited, .splMenu-primary a:hover {
    color: #000;
}

.splMenu-primary li:hover {
    background-color: #6694c7;
}
.splMenu-primary a:hover {
    color: #FFF;   
}

/* secondary menu, used for apps pulldown */
.splMenu-secondary ul {
    background-color: #dbe6e9;
}
.splMenu-secondary, .splMenu-secondary a {
    color: #000;
}

/* disabled elements */
.splMenu-secondary li.disabled a {
    color: #666;
}   
.splMenu-secondary li:hover {
    background-color: #6694c7;
}
.splMenu-secondary a:hover {
    color: #fff;   
}

/* actions menu open state */
.TitleBar div.menuOpen {
    background-color: #dbe6e9;
    color: #000;
}

/* Arrows
---------------------------------*/

/* 
Arrow color is changed by adjusting the frist background position. The second value controls the direction of the arrow (i.e. NSEW). 

For south arrows, Use the following values for these colors:
    grey    background-position: -7px -367px;
    white   background-position: -27px -367px;
    green   background-position: -47px -367px;
    black   background-position: -67px -367px;

For east arrows, Use the following values for these colors:    
    grey    background-position: -7px -407px;
    white   background-position: -27px -407px;
    green   background-position: -47px -407px;
    black   background-position: -67px -407px;
*/

/* nav arrow, default state */
ul.appBarNav li.hasMenu a span.splIcon-triangle-2-s {
}

/* hover state */
ul.appBarNav li.hasMenu a:hover span.splIcon-triangle-2-s {
}

/* open state */
ul.appBarNav li.hasMenu a.menuOpen span.splIcon-triangle-2-s {
}

/* actions menu open state */
.TitleBar div.menuOpen .splIcon-triangle-4-s {
}

/* sub menu indicator */
.splIcon-triangle-4-e {
    background-position: -67px -407px;    
}


/* turn black arrows white */
.splIcon-triangle-4-s {
    background-position: -67px -367px;
}

.EventsViewer .default .fields .fm {
    background-position: -27px -364px;
}


/* show/hide headers */

.ShowHideHeader h2 span.splIcon-triangle {
background-position:-27px -367px;
}

.ShowHideHeader h2.closed span.splIcon-triangle {
background-position:-27px -407px;
}


/* background colors
---------------------------------*/

/* default page color */
body, .splBackground-default, 
.graphArea, .resultsArea,  
.reportSecondPanel, .reportThirdPanel, 
.sidebarCollapsed,
.SearchBar .saTypeaheadWrapper,
.ui-datepicker-links,
.popupContent {
    background-color: #FFFFFF;
}

/* primary background - applies to search controls and primary action panels */
.viewHeader, .mainSearchControls, .splSearchControls-inline, .SearchBar .saHelpWrapper,
.popupContent  {
    background-color: #FBFBFB;
}

/* secondary background - sidebar, other panels */
.splBackground-secondary, .sidebarExpanded,
.fieldValuePopup p.reportLinks {
    background-color: #dbe6e9;
}

.TimeRangePicker .timeRangeActivatorWrapper {
    background-color: ;
}

/* Specific overrides */
.layoutCellInner .ResultsHeader .splHeader, .layoutCellInner .ResultsHeader .splHeader-secondary {
    background: transparent none;
}

/* Specific overrides */
.popupFooter {
    background-color: #dbe6e9;
}

/* dashboard background color */
body.splTemplate-dashboard {
    background-color: #dbe6e9;
}

/* dashboard containers */
.dashboardCell {
    background-color: #fbfbfb; 
    background-image:url(overlay_topgradient.png);
    background-repeat:repeat-x;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    _background-image: none;   /* for IE6 */
}

/* headers 
---------------------------------*/

/* default header font color */
.splHeader-dashboard h2, .dashboardContent .ServerSideInclude h2, .dashboardContent .GenericHeader h3, .SearchBar .saRow h4  {
    color: #394345;
}

/* primary header background color + overlay */
.splHeader-primary,
.TitleBar .splHeader, 
.FieldPickerPopup .splHeader-primary {
    background-color: #FBFBFB;
    background-image:url(overlay_reversegradient_28.png);
    background-repeat:repeat-x;
    _background-image: none;
}

/* secondary (i.e. sidebar) header background color + overlay */
.splHeader-secondary {
background-color: #dbe6e9;
background-image:url(overlay_topgradient_soft.png);
background-repeat:repeat-x;
_background-image: none;
}

/* headers w/o any overlay */
.FlashTimeline .splHeader-primary {
    background-color: #FBFBFB;
    background-image: url(overlay_topInnerShadow_35.png);
}

/* borders 
---------------------------------*/

/* ALL elements with a generic border attribute */
* { 
border-color: #e4e2e3;
}

/* refactor to remove these in default.css since they have specific color declarations; should be same value as * elements, above */ 
.popupContainer,
.fieldLayers .popupContainer,
.splMenu-primary .actionsMenuDivider { 
border-color: #142a2d;
}

/* those rare instances when someone uses an HR */
hr {
    color: #112225;
}

/* specific overrides */ 

.fieldValuePopup table tr.fieldNameHeaderRow th {
border-bottom:1px solid #142a2d;
}

/* horizontal rules in the sidebar */ 
.splDivider, .SuggestedFieldViewer .splBorder-n {
border-color: #142a2d;
}

/* tables */
table.splTable, table.splTable td, table.splTable th {
border-color: #142a2d;
}

.fieldValuePopup table td, .fieldValuePopup table th {
border-color: #142a2d;
}




/* search controls 
---------------------------------*/

/* search button color; background-position of 0 0 is black, -40px 0 is white */
input.searchButton {
    background-color: #6694c7;
    background-position:-40px 0;   
}

/* search assistant */

.SearchBar .assistantActivator {
background-color: #6694c7;
}

/* search asst. arrow closed */
.SearchBar .assTab span.splIcon-triangle {
/* 
white > background-position:-27px -367px; 
black > background-position:-67px -367px;
*/
background-position:-27px -367px;
}

/* search asst. arrow open */
.SearchBar a.assistantEnabled span.splIcon-triangle {
/* 
white > background-position:-27px -386px; 
black > background-position:-67px -386px;
*/
background-position:-27px -386px;
}



.splSearchControls-inline {
    background-image: none;
}

.SearchBar .searchFieldWrapperInner {
border-color: #6694c7;
}

/* Flash line and charts 
---------------------------------*/

/* All flash charts */
/*
  background-color -> controls bgcolor
  border-left-color -> controls foregroundColor
  color -> controls fontColor
  controls and and font color get screened via an alpha layer, so should probably be set to all black or white, depending on main background
*/
div.FlashChart {
    background-color: #fbfbfb;
    border-left-color:#000;
    color: #000;
}

/* flash timeline specific */
/*
  background-color -> controls bgcolor
  border-left-color -> controls foregroundColor
  color -> controls fontColor
  border-right-color -> controls seriesColor
controls and and font color get screened via an alpha layer, so should probably be set to all black or white, depending on main background
*/
div.FlashTimeline {
    background-color: #fbfbfb;
    border-left-color: #000;
    color: #000;
    /* the color of the histogram bar. border-right-color = fill */
    border-right-color: #6694c7; 
}

/* popup bar chart; should be same color as flash timeline */
.splBarGraphBar {
background-color: #6694c7;
}

/* background of bar graph */
.splBarGraph {
background:#FFFFFF;
}



/* buttons 
---------------------------------*/

.splButton-primary {
    background-color: #6694c7;   
    color: ;
    background-image: url(overlay_softgradient_28.png); 
}
.splButton-primary:hover {
    background-color: #6694c7;   
    background-image: url(overlay_softgradient_28.png); 
}
.splButton-secondary {
    background-color: #6694c7;
    color: ;   
    background-image: url(overlay_softgradient_28.png); 
}
.splButton-secondary:hover {
    background-color: #6694c7;  
    background-image: url(overlay_softgradient_28.png);  
}

/* form elements
_________________________________*/

fieldset legend {
    color: #c8da4a;
    font-size: 12px;
}
fieldset legend span {
    color: #ccc;
    font-size: 11px;
}
p.exampleText {
    color: #ccc;
}
p.fieldsetHelpText {
    color: #ccc;
}

/*-- disabled and read-only form elements --*/

label.disabledLabel {
    color: ;
}
select option[disabled] {
    color: ;
}
input.readonly {
    background-color: ;
}


input[disabled]{
background-color: transparent;
border-color: transparent;
color: ;
}

/* Icons 
---------------------------------*/
/*-- hash mark for jobs icons  --*/
.JobStatus .output ul li {
    background-image: url(bg_hash_grey.gif);
}

.splIcon-events-list, .splIcon-events-table, .splIcon-results-table {
/*-- 
master icon file. edit the local file and include this stanza if you want to override the defaults
background-image: url(splIcons.gif);

 --*/
}

/*-- background color for icons --*/
.splIcon {
    background-color: #6694c7;
}



/*-- switchers that use icons  --*/

.ButtonSwitcher ul li.selected, .ButtonSwitcher ul li.selected:hover,
.EventsViewer .default .actions,
div.FlashTimeline a.logScaleSelected span, div.FlashTimeline a.linScaleSelected span  {
    border: 1px solid #6694c7;
    background-color: #6694c7;
}

.ButtonSwitcher ul li, .Paginator a, .Paginator .disabled:hover {
    border-color: transparent;
}

/*-- hash mark for jobs icons  --*/
.JobStatus .output ul li {
    background-image: url(bg_hash_grey.gif);
}


/*-- paginator uses similar styles --*/

.Paginator .active a, .Paginator .active a:hover {
    background-color: #6694c7;
    border-color: #6694c7;
    color: #fff;
}

/*-- arrow icons --*/
.splIcon-arrow-n, .splIcon-arrow-e, .splIcon-arrow-s, .splIcon-arrow-w {
    background-color: #6694c7;
}

/* triangles. keep this last to avoid getting background colors in the arrows! */
/* Note: to separate color from implementation, we're using a numbering system to differentiate colors.  
   1=grey,2=white,3=green,4=black,5=blue.  If the icon sprite changes, the number mapping to colors would be different */
.splIcon-triangle, 
.splIcon-triangle-1-n, .splIcon-triangle-1-s, .splIcon-triangle-1-e, .splIcon-triangle-1-w,
.splIcon-triangle-2-n, .splIcon-triangle-2-s, .splIcon-triangle-2-e, .splIcon-triangle-2-w,
.splIcon-triangle-3-n, .splIcon-triangle-3-s, .splIcon-triangle-3-e, .splIcon-triangle-3-w,
.splIcon-triangle-4-n, .splIcon-triangle-4-s, .splIcon-triangle-4-e, .splIcon-triangle-4-w,
.splIcon-triangle-5-n, .splIcon-triangle-5-s, .splIcon-triangle-5-e, .splIcon-triangle-5-w {
    background-color:transparent;   
}
.splIcon-triangle-large {
    background-color:transparent;  
}

/*-- table sort icons --*/
.FieldPickerPopup .fpFieldListContainerOuter th span {
    background-position:-27px -441px;
}

.FieldPickerPopup .fpFieldListContainerOuter th.headerSortDown span {
background-position:-27px -360px;
}

.FieldPickerPopup .fpFieldListContainerOuter th.headerSortUp span {
background-position:-27px -379px;
}


/* highlight colors 
---------------------------------*/
/*-- event items --*/
.EventsViewer .default .a, .EventsViewer .default .h, .EventsViewer .default .fields .v:hover, .EventsViewer .default .fields .tg:hover {
    background-color: #f2cb3f;
}

/*-- row highlighting for tables --*/
table.splTable tr:hover td {
    background-color:#f2cb3f;
}
.mouseoverHighlight, .mouseoverHightlight td {
    background-color:#f2cb3f;
}

/*-- matching search terms --*/
.SimpleEventsViewer span.searchTermHighlight {
    background-color:#f2d440;
}

/* MultiFieldViewer + SuggestedFieldViewer, i.e. highlight in the fields sidebar */
.MultiFieldViewer .fieldTabs .mouseoverHighlight,
.MultiFieldViewer .fieldTabs .selected,
.SuggestedFieldViewer .fieldTabs .mouseoverHighlight,
.SuggestedFieldViewer .fieldTabs .selected {
    background-color: #277991;
}

/* field picker popup hover row */
.FieldPickerPopup .fpFieldList tbody tr:hover, .FieldPickerPopup .fpFieldList tbody tr.mouseoverHighlight {
    background-color: #277991;
}

.fieldTabs a:hover {
    color: #fff;
}



/* date picker 
---------------------------------*/
.ui-datepicker-current-day {
    background-color: #6694c7;
}

.ui-datepicker-links {
    background-image: url(overlay_gradient.png) repeat-x 0 0;
    _background-image: none;
} 

/* popups 
---------------------------------*/
.splHeader-popup {
    background-color: #000;
    background-image: url(overlay_gradient.png);
    background-repeat: repeat-x;
    _background-image: none;
}

.splHeader-popup h2 {
    color:#FFF; 
}



/* modal overlay */
.splOverlay, .splOverlay-white {
    background-color: #000;    
    opacity:0.8;
    filter:alpha(opacity=80);
}
.splOverlay-white {
    background-color:#FFF;  
}

/* Misc 
---------------------------------*/

/* resize handle */
.ui-resizable-s {
background-color:#6694c7 !important;
}

/* loading image for jobs */
.JobStatus .output .running h2,
.JobStatus .output .runningReport h2,
.JobStatus .output .finalizing h2 {
background-image: url(loader.gif);
}


/* remove the gradient at top of event and results area */
.EventsViewer, .SimpleResultsTableResults {
background-image: none;
}

/* used on some dashbaords */
.SingleValueHolder {
background-color:#194775;
color: #fff
}

/* tighten up dashboard title displays */
.NullModule { display: none; }

.dashboardCell .FlashChart {
    background-color: transparent;
}

.dashboardContent h3 {
    margin-top: 0;
}
