#ExtendedFieldSearch_0_0_0 label, 
#ExtendedFieldSearch_1_1_0 label,
#ExtendedFieldSearch_2_2_0 label{
width: 85px;
display: inline-block;
}


#ExtendedFieldSearch_3_3_0 label,
#ExtendedFieldSearch_4_4_0 label{
width: 60px;
display: inline-block;
}
