#ExtendedFieldSearch_2_2_0 label 
{
width: 125px;
display: inline-block;
}

#ExtendedFieldSearch_1_1_0 label{
width: 75px;
display: inline-block;
}

#TimeRangePicker_0_0_0 {
padding-top: 3px;
}

#ExtendedFieldSearch_0_0_0 label{
width: 60px;
display: inline-block;
}
